button {   
    background-color: #946c4b;   
    width: 15%;  
   
     padding: 10px;   
     margin: 20px 0px;   
     
     cursor: pointer; 
     border-radius: 9px;  
      }   
 
input[type=text], input[type=password] {   
     width: 15%;   
     margin: 8px 0;  
     padding: 10px 20px;   
     display: inline-block;   
     font-size:25px;
     box-sizing: border-box;  
     font-family: 'Noto Sans', sans-serif; 
 }  
button:hover {   
     opacity: 0.7;   
 }   
 
     
  
.container {   
    
     padding: 25px;   
    
     
 }   
 .abc{
     margin-left: 100px;
 }
 .login:hover{
     color:#946c4b;

 }
 .abcd1{
     
     font-size:30px;
     font-family: 'Noto Sans', sans-serif; 
     text-decoration: none;
 }  
 .abcd1:hover{
    text-decoration: underline;
    color:#946c4b;
 }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
 

  