<!---
    interview edit
    --->
<!DOCTYPE html>
<html>
    
    <head>
        <title>Scaler-Interviews</title>
            <link rel="shortcut icon" href="./Images/1.ico" type="image/x-icon">
        
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Styles/1.css">
<link rel="stylesheet" href="Styles/3.css">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Lato:ital,wght@1,300&family=Noto+Sans:wght@100;300&family=Roboto&family=Lato:wght@300&family=Roboto+Condensed:wght@700&family=Anek+Devanagari:wght@100&display=swap" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"> </script>  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"> </script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"> </script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="http://localhost/own2/jss/controller.js"></script>

</head>
<div class="ab0" color="#946c4b">
    <div id="loader">
        <img id="loaderimg"src="./Images/1.png" />
            </div>
    </div>
</div>
</div>
<body onload="myFunction()" ng-app="myapp">
   
<div id="myDiv" style="display:none;">
<div class="topnav">
    <img src="./Images/2.png" width="119" height="100">
  <a href="./index.html">Logout</a>
</div>
<h1 class="ab">
   Interview's Edit
  
</h1>
</br>
</br>

<!----- main part
-->
<div class="abc">

  <a class = "abcd1" id="abcd1" name="Notebook name 1" >
    
      Candidate Name</a>
    <span ng-controller="MyController2">
    <button type="submit" ng-click="put1()"onClick="window.location.reload();" style="justify-content: right; align-items: right; font-family: 'Anek Devanagari', sans-serif;  font-weight: bold; color:white; font-size:20px;margin-left: 800px;">delete</button> </br></a></br>
   </span>

    
 
   


  <span ng-controller="MyController2">
   <button type="submit"ng-click="putdata(name)" onClick="window.location.reload();" style="font-family: 'Anek Devanagari', sans-serif;  font-weight: bold; color:white; font-size:30px;">Delete</button>   
  
        <input type="text"ng-model="name" id="demo1" placeholder="Email_id" name="notebook_name" required style="font-family: 'Anek Devanagari', sans-serif; ; font-weight: bold; border-radius: 10px; ">  
        <input type="text"ng-model="name" id="demo1" placeholder="Date" name="notebook_name" required style="font-family: 'Anek Devanagari', sans-serif; ; font-weight: bold; border-radius: 10px; ">  
        <input type="text"ng-model="name" id="demo1" placeholder="Start_time" name="notebook_name" required style="font-family: 'Anek Devanagari', sans-serif; ; font-weight: bold; border-radius: 10px; ">  
        <input type="text"ng-model="name" id="demo1" placeholder="End_time" name="notebook_name" required style="font-family: 'Anek Devanagari', sans-serif; ; font-weight: bold; border-radius: 10px; ">  

        <button type="submit"ng-click="putdata(name)" onClick="window.location.reload();" style="font-family: 'Anek Devanagari', sans-serif;  font-weight: bold; color:white; font-size:30px;">Save</button> 
        </br>
        Resume:  
     

    </br>
    </div> 
  </span>

</div>     
<div class="ab6">
</br>
    <h2 class="ab7">contact us</h2>
    <h2 class="ab8">Team Scaler-Interviews </br> 9th Floor Sakti Statesman Building Iblur</br> Karnataka India</h2>
</br>
</div>


</body>
<script type="text/javascript">
    var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
</html>